# Client Key
WiseBookLife/ClientData/

# MacOS
.DS_Store



# Created by https://www.toptal.com/developers/gitignore/api/swiftpackagemanager,xcode,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpackagemanager,xcode,cocoapods

### CocoaPods ###
Pods/

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/

# End of https://www.toptal.com/developers/gitignore/api/swiftpackagemanager,xcode,cocoapods
